
.head {
	width: 100%;
	height: 40px;
	background-color: #333;
	display: flex;
}

.head .header {
	display: flex;
	width: 990px;
	margin: 0 auto;
	height: 40px;
	justify-content: space-between;
}

.head .header ul {
	display: flex;
	justify-content: space-between;
}

.head .header ul li a {
	width: 48px;
	height: 40px;
	color: #ccc;
	line-height: 40px;
	font-size: 14px;
	padding: 10px 10px;
}

.head .header ul li a:hover {
	color: #fff;
	background-color: #000;
}

.head .header button {
	width: 80px;
	height: 30px;
	margin: 5px 0;
	font-size: 14px;
	color: #666;
}
/* 导航 */
.nav {
	width: 990px;
	height: 60px;
	margin: 10px auto;
	display: flex;
	position: relative;
}

.nav .nav-bd {
	width: 150px;
	height: 60px;
}

.nav .nav-bd h2 {
	font-weight: 500;
	font-size: 25px;
	line-height: 60px;
	font-family: arial;
}

.nav .nav-hd {
	width: 400px;
	height: 115px;
	margin: 0 100px;
}

.nav .nav-hd ul {
	display: flex;
	justify-content: space-between;
}

.nav .nav-hd ul li {
	font-size: 20px;
	width: 100px;
	height: 60px;
	line-height: 60px;
}

.nav .nav-hd ul li:nth-child(1) a {
	color: #ff6767;
}

.nav .nav-hd ul li a:hover {
	color: #ff6767;
}

.nav .nav-sd {
	position: absolute;
	right: 0;
	bottom: 16px;
	padding-top: 30px;
}

.nav .nav-sd input {
	display: block;
	float: left;
	width: 167px;
	height: 27px;
	border-radius: 5px 0 0 5px;
	border: 1px solid #ccc;
	border-right-width: 0;
}

.nav .nav-sd button {
	float: right;
	width: 80px;
	height: 28px;
	border: 1px solid #ccc;
	border-radius: 0 5px 5px 0;
	background-color: #999;
	color: #fff;
	text-indent: 15px;
	font-size: 14px;
}

.nav .nav-sd button:hover {
	background-color: #ff6767;
}

.nav .nav-sd img {
	width: 15px;
	height: 15px;
	position: absolute;
	right: 57px;
	top: 36px;
}
/* 主体 */
.main {
	margin: 10px auto;
	width: 990px;
	position: relative;
}

.main .carouse {
	width: 100%;
	height: 360px;
}
/* 轮播图 */
.main .carouse .carousel-control-prev {
	left: 171px;
}

.main .carouse .carousel-control-next {
	right: -46px;
}
/* 菜单 */
.main .menu {
	width: 220px;
	height: 360px;
	background: rgba(65, 65, 65, 0.4);
	position: absolute;
	left: 0px;
	top: 0;
}

.main .menu .menu-bd {
	margin: 0;
	padding: 30px 0;
	position: relative;
}

.main .menu .menu-bd>li {
	font-size: 18px;
	width: 220px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.main .menu .menu-bd>li:hover{
	background-color: #ff6767;
	color: #fff;
}

.main .menu .menu-bd>li a {
	color: #fff;
}

.main .menu .menu-bd>li:hover .submenu {
	opacity: 1;
}

.main .menu .menu-bd>li .submenu {
	width: 380px;
	height: 360px;
	background-color: #fff;
	position: absolute;
	left: 220px;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	opacity: 0;
}
.main .menu .menu-bd>li .submenu:hover{
	opacity: 1;
}
.main .menu .menu-bd .submenu>li {
	font-size: 18px;
	width: 120px;
	height: 90px;
	text-align: center;
	line-height: 90px;
}

.main .menu .menu-bd .submenu>li:hover {
	color: #ff6767;
}
.main .menu .menu-bd .submenu>li a{
	color: #000;
}
/* 产品 */
.gulid{
	width: 990px;
	height: 37px;
	margin-top: 40px;
	border-bottom: 1px solid #ccc;
}
.gulid .gulid-title {
	float: left;
	font-size: 20px;
	color: #666;
}
.gulid .gulid-title a{
	margin-right: 40px;
}
.gulid .gulid-title.select{
	padding-bottom: 5px;
	border-bottom: 3px solid #ff6767;
}
.gulid .gulid-title a:nth-child(1){
	color: #ff6767;
	padding-bottom: 6px;
	border-bottom: 3px solid #ff6767;
}
.gulid .gulid-title a:hover{
	color: #ff6767;
}
.gulid ul{
	float: right;
	display: flex;
	margin-top: 4px;
}
.gulid ul li a{
	margin-left: 20px;
}
/* 产品详情 */
.products{
	width: 990px;
	height: 1200px;
	margin-top: 10px;
}
.products ol{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.products ol li a{
	text-align: center;
}
.products ol li a img{
	width: 230px;
	height: 230px;
}
.products ol li a p{
	font-size: 18px;
	margin-top: 10px;
}
.products ol li a p:hover{
	color: #ff6767;
}
/* 时令食材 */
.food .food-title{
	height: 37px;
	width: 990px;
	margin-top: 40px;
	border-bottom: 1px solid #ccc;
}
.food .food-title>a{
	height: 37px;
	line-height: 37px;
	font-size: 20px;
	color: #ff6767;
	padding-bottom: 3px;
	border-bottom: 3px solid #ff6767;
	
}

.food .food-title ul{
	float: right;
	height: 37px;
	display: flex;
	line-height: 37px;
}
.food .food-title ul li{
	margin-left: 20px;
}
.food .food-title ul li a:hover{
	color: #ff6767;
}
.food .summary{
	width: 990px;
	height: 370px;
}
.food .summary ol{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}
.food .summary ol li img{
	width: 126px;
	height: 126px;
}
.food .summary ol li a{
	text-align: center;
}
.food .summary ol li a p{
	font-size: 18px;
	margin-top: 10px;
}
.food .summary ol li a p:hover{
	color: #ff6767;
}
/* 推荐 */
.service{
	width: 990px;
	height: 400px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.service .healthy{
	width: 310px;
	height: 400px;
}
.service .healthy .healthy-title{
	display: flex;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.service .healthy .healthy-title a{
	font-size: 20px;
	font-weight: 400;
	color: #666;
	line-height: 36px;
	margin-right: 15px;
}
.service .healthy .healthy-title a:hover{
	color: #ff6767;
}
.service .healthy .healthy-title a:nth-child(1){
	color: #ff6767;
	border-bottom:3px solid #ff6767;
}
.service .healthy .healthy-title a:nth-child(3){
	color: #333;
	font-size: 16px;
	margin-left: 121px;
	margin-top: 3px;
}
.service .healthy .healthy-title a:nth-child(3):hover{
	color: #ff6767;
}
.service .healthy img{
	width: 310px;
	height: 124px;
}
.service .healthy ul{
	width: 100%;
	height: 216px;
}
.service .healthy ul li{
	margin-top: 10px;
	height: 26px;
	font-size: 16px
}
.service .healthy ul li:hover a{
	color: #ff6767;
}
.service .cure{
	width: 310px;
	height: 400px;
}
.service .cure .cure-title{
	display: flex;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.service .cure .cure-title a{
	font-size: 20px;
	font-weight: 400;
	color: #666;
	line-height: 36px;
	margin-right: 15px;
}
.service .cure .cure-title a:hover{
	color: #ff6767;
}
.service .cure .cure-title a:nth-child(1){
	color: #ff6767;
	border-bottom:3px solid #ff6767;
}
.service .cure .cure-title a:nth-child(3){
	color: #333;
	font-size: 16px;
	margin-left: 121px;
	margin-top: 3px;
}
.service .cure .cure-title a:nth-child(3):hover{
	color: #ff6767;
}
.service .cure img{
	width: 310px;
	height: 124px;
}
.service .cure ul{
	width: 100%;
	height: 216px;
}
.service .cure ul li{
	margin-top: 10px;
	height: 26px;
	font-size: 16px
}
.service .cure ul li:hover a{
	color: #ff6767;
}
.service .recommend{
	width: 310px;
	height: 400px;
}
.service .recommend .recommend-title{
	display: flex;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.service .recommend .recommend-title a{
	font-size: 20px;
	font-weight: 400;
	color: #666;
	line-height: 36px;
	margin-right: 15px;
}
.service .recommend .recommend-title a:hover{
	color: #ff6767;
}
.service .recommend .recommend-title a:nth-child(1){
	color: #ff6767;
	border-bottom:3px solid #ff6767;
}
.service .recommend .recommend-title a:nth-child(2){
	color: #333;
	font-size: 16px;
	margin-left: 134px;
	margin-top: 3px;
}
.service .recommend .recommend-title a:nth-child(2):hover{
	color: #ff6767;
}
.service .recommend img{
	width: 310px;
	height: 124px;
}
.service .recommend ul{
	width: 100%;
	height: 216px;
}
.service .recommend ul li{
	margin-top: 10px;
	height: 26px;
	font-size: 16px
}
.service .recommend ul li:hover a{
	color: #ff6767;
}
.forum{
	width: 990px;
}
.forum .forum-title{
	width: 100%;
	height: 36px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.forum .forum-title>ul>li {
	float: left;
	line-height: 36px;
	font-size: 20px;
	color: #666;
	margin-right: 15px;
}
.forum .forum-title>ul>li:nth-child(1) a{
	color: #ff6767;
	border-bottom: 3px solid #ff6767;
	padding-bottom: 3px;
}
.forum .forum-title>ul>li>a:hover{
	color: #ff6767;
}
.forum .forum-title>ol>li {
	float: right;
	font-size: 16px;
	margin-left: 20px;
	line-height: 36px;
}
.forum .forum-title>ol>li>a:hover{
	color: #ff6767;
}
.forum-menu>ul{
	width: 990px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.forum-menu>ul>li{
	width: 460px;
	height: 250px;
	margin-bottom: 60px;
}
.forum-menu>ul>li>div{
	display: flex;
	
}
.forum-menu>ul>li>div>img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}
.forum-menu>ul>li>div>div{
	width: 368px;
	height: 42px;
	margin-right: 40px;
}
.forum-menu>ul>li>div>div>div{
	font-size: 12px;
	color: #666;
}
.forum-menu>ul>li>div{
	height: 42px;
	font-size: 14px;
	color: #666;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
	
}
.forum-menu>ul>li>div>a>img{
	width: 100px;
	height: 100px;
}
/* 底部 */
.foot p:nth-child(1){
	width: 154px;
	height: 19px;
	color: #f50;
	font-size: 14px;
	font-weight: 700;
}
.foot p:nth-child(1):hover{
	border-bottom:2px solid #f50;
}
.foot p:nth-child(2){
	font-size: 12px;
	width: 720px;
	height: 20px;
	color: #666;
}
.foot p:nth-child(3){
	width: 700px;
	height: 40px;
	font-size: 12px;
	color: #666;
}